.fb-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(58, 92, 169);
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
}